[Unit]
Description=virtualbox headless

[Service]
Type=simple
ExecStart=/usr/bin/sh -c 'vboxheadless --startvm "$(cat "$HOME"/dotfiles/etc/systemd/currentvm)"'
ExecStop=/usr/bin/sh -c 'vboxmanage controlvm "$(cat "$HOME"/dotfiles/etc/systemd/currentvm)" poweroff'
PrivateTmp=true

[Install]
WantedBy=default.target
