# autoplay the music for raspberry pi
#
# add "dtparam=audio=on" in /boot/config.txt
# add "audio_pwm_mode=2" in /boot/config.txt
#
# install:
#   # alsa
#   pacman -S alsa-utils alsa-firmware alsa-lib alsa-plugins
#
#   # music player
#   pacman -S mpv
#
#   # unmute
#   alsamixer
#
[Unit]
Description=Music loop

[Service]
Type=simple

# might be changed
# require "audio" group
User=mpvuser
Group=mpvuser

# play the music in "$HOME"/Music/autoplay/
WorkingDirectory=~
ExecStart=/usr/bin/sh -c 'while sleep 1; do mpv --no-video -- "$HOME"/Music/autoplay/ 1>/dev/null 2>/dev/null; done'

[Install]
WantedBy=multi-user.target
