[Unit]
Description=rotate wallpaper use feh

[Service]
Type=oneshot
Environment=WALLPATH=%h/Pictures/links
ExecStart=/usr/bin/sh -c 'feh --no-fehbg --bg-max  "${WALLPATH}/$(ls ${WALLPATH} | shuf -n 1)"'

[Install]
WantedBy=
